<h2>
  Home
</h2> 

<!-- {{expression}} interpolation-->
<p>{{counter}}</p>

<p> Counter * 10 => {{counter * 10}}</p>

<!-- (name of the event ) = "expression" event binding -->
<button (click) = "increment()"> +1 </button>

<button on-click = "decrement()"> -1 </button>

<button (click) = "counter = counter+2"> +2 </button>

<!-- 
  [] - property binding 
  bind-propertyname

-->
<button [disabled] = "counter %2 == 1">
  click me
</button>

<input [value] = "counter" />
<input bind-value = "counter * 10"   />

<p> Two way binding [()]</p>
<input name = 'c' [(ngModel)] = "counter" type = "number" />

<p>Home likes {{homeLikes}}</p>

<app-like [likes]="homeLikes"
          (likesChange)="homeLikes = $event"
>
</app-like>
<p>Pipeline examples</p>
<p>Title {{title | uppercase }}</p>
<p>Title {{title | lowercase }}</p>
<p>Title {{price | currency }}</p>
<p>Title - pipeline {{price | currency:'INR' }}</p> 

<p>Date {{today | date}} </p>
<p>Date {{today | date:'fullDate' | uppercase }} </p>
<p>Date {{today | date:'yyyy/MMM/dd' }} </p>


<p> Powe 2  ==> {{2 | power}} </p>
<p> Powe counter ^2 ==> {{counter | power:2}} </p>